<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body class="bg-gray-100">
    <h1>Login</h1>
    <section class="container mx-auto mt-16 mb-16">
        <div class="block items-center bg-white shadow-md rounded-lg p-8 max-w-lg mx-auto">
            <form action="/user/login" method="post">
                <label for="">Email</label>
                <input type="email" required name="email" placeholder="Email">
                <label for="">Password</label>
                <input type="password" required name="password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
    </section>
</body>

</html>